    <section id="about" class="wow fadeInUp">    <hr/>
      <div class="container">
        <div class="row">		  
          <div class="col-lg-6 about-img">
            <a href="https://allstatesmed.com"><img src="{{ url_for('static',filename='img/about-img.png') }}" alt="About All States MED | Medical Equipment and Distribution"></a>
          </div>

          <div class="col-lg-6 content">
            <h2>About Us</h2>
            <h3>Our mission is to establish strong working relationships with all customers by providing unheard of customer service, competitive prices, and quality medical equipment sales and services.</h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> Competitive Prices</li>
              <li><i class="ion-android-checkmark-circle"></i> Quality Equipment</li>
              <li><i class="ion-android-checkmark-circle"></i> Excellent Customer Service</li>
            </ul>

          </div>
        </div>

      </div>
    </section>