
	<!-- Favicons -->
	<link href="{{ url_for('static', filename ='img/brand/favicon.png') }}" rel="icon">

	
	<!-- AZpple Touch -->
	<link href="{{ url_for('static', filename ='img/brand/logo.png') }}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

	<!-- Bootstrap CSS File -->
	<link href="{{ url_for('static', filename ='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename ='lib/bootstrap/css/bootstrap-grid.min.css') }}" rel="stylesheet">

	<!-- Libraries CSS Files -->
	<link href="{{ url_for('static', filename ='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename ='lib/animate/animate.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename ='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename ='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename ='lib/magnific-popup/magnific-popup.css') }}" rel="stylesheet">

	<!-- AOS: Animate on Scroll -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<!-- Main Stylesheet File -->
	<link href="{{ url_for('static', filename ='css/style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename ='css/asm.css') }}" rel="stylesheet">