
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Take a Look at our Products</h3>
            <p class="cta-text"> All States MED provides you a wide variety of new, used, and refurbished medical equipment.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://allstatesmed.com">Shop Now!</a> 
          </div>
        </div>

      </div>
    </section>