	<section id="services">
		<div class="container">
		<div class="section-header">
			<h2>Services</h2>
			<p>A reliable source for all your medical equipment needs.</p>
		</div>

		<div class="row">

			<div class="col-lg-6">
			<div class="box wow fadeInLeft">
				<div class="icon"><i class="fa fa-cart-plus"></i></div>
				<h4 class="title"><a href="">Medical Equipment Sales</a></h4>
				<p class="description">Complete Medical Equipment solutions with New, Used and Refurbished options.</p>
			</div>
			</div>

			<div class="col-lg-6">
			<div class="box wow fadeInRight">
				<div class="icon"><i class="fa fa-wrench"></i></div>
				<h4 class="title"><a href="">Medical Equipment Service</a></h4>
				<p class="description">Repairs and Maintenance by highly skilled biomedical technicians. </p>
			</div>
			</div>

			<div class="col-lg-6">
			<div class="box wow fadeInLeft" data-wow-delay="0.2s">
				<div class="icon"><i class="fa fa-money"></i></div>
				<h4 class="title"><a href="">Medical Equipment Purchases</a></h4>
				<p class="description">Sell or trade-in your old inventory for cash or store credit towards your next purchase.</p>
			</div>
			</div>

			<div class="col-lg-6">
			<div class="box wow fadeInRight" data-wow-delay="0.2s">
				<div class="icon"><i class="fa fa-bolt"></i></div>
				<h4 class="title"><a href="">C-arm / Fluoroscope Rentals </a></h4>
				<p class="description">Daily, Weekly, or Monthly C-arm / Fluoroscope rentals available. </p>
			</div>
			</div>

		</div>

		</div>
	</section>